/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins&display=swap");

/* CSS global varibale */

:root {
  --primaryColor: #A0A0A0;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --letterSpacing: 0.2rem;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}

/* reset */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */

body {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--offWhite);
  line-height: 1.4;
  font-size: 1.2rem;
}

/* global style */

img:not(.nav-logo, .logo, .sword) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 2.2rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 1.2rem;
  line-height: 2;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* more global style  */

.btn-white,
.btn-pri {
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}

.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
  box-shadow: 0 0 10px var(--mainWhite);
}

/* end of global style */

/* button-primary */

.btn-pri {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: var(--primaryColor);
}

.btn-pri:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-primary {
  background: transparent;
  border: 2px none;
  color: var(--mainBlack);
}
.btn-primary:hover {
  background: var(--primaryColor);
  box-shadow: 0 0 10px var(--primaryColor);
}
/* section */

.section {
  padding: 5rem 0;
}

/* title */

.title-wrapper {
  margin-bottom: 2rem;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 0.5rem;
}

.sub-title {
  text-align: center;
  color: var(--primaryColor);
}

/* section-center */

.section-center {
  width: 85vw;
  margin: 4rem auto 2rem auto;
  max-width: 1170px;
}

/* nav bar */

/* end of nav bar */

/* intro element */

.intro {
  min-height: calc(100vh - 62px);
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
}

.intro-banner {
  text-align: center;
  color: var(--mainWhite);
  padding: 0 2rem;
}

.intro-text {
  width: 85%;
  margin: 0 auto;
  letter-spacing: var(--letterSpacing);
  font-weight: 400;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .intro {
    background: linear-gradient(rgba(84, 93, 219, 0.7), rgba(0, 0, 0, 0.7)),
      url("carl-raw-m3hn2Kn5Bns-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .intro-text {
    width: 70%;
  }
}

/* end of intro element */

/* about */

.about {
  background: var(--mainWhite);
}

.about-img,
.about-info {
  margin-bottom: 1rem;
}

.about-info h3 {
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .about-center {
    display: flex;
    justify-content: space-between;
  }
  .about-img,
  .about-info {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
    align-self: center;
  }
}

@media screen and (min-width: 1170px) {
  .about-img {
    position: relative;
  }
}

/* end of about */

/* featured  */

.featured {
  background: var(--mainWhite);
}

.game-card {
  margin-bottom: 4rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}

.game-card:hover {
  box-shadow: var(--darkShadow);
}

.game-img-container {
  position: relative;
}

.game-location {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primaryColor);
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
}

.game-footer {
  padding: 1.2rem 1.5rem;
}

.game-title {
  text-transform: capitalize;
}

.game-origin {
  color: var(--primaryColor);
  text-transform: capitalize;
  align-self: center;
}

.game-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.game-details p {
  line-height: 0.2rem;
  text-transform: capitalize;
  color: var(--darkGrey);
  letter-spacing: 0.02rem;
}

.game-link {
  text-align: center;
}
.btn-grey {
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--mainGrey);
  padding: 0.9rem 1.6rem;
  margin: 1rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-grey:hover {
  background: var(--primaryColor);
  color: var(--mainBlack);
  box-shadow: 0 0 10px var(--mainGrey);
}

@media screen and (min-width: 768px) {
  .featured-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .game-card {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media screen and (min-width: 1170px) {
  .game-card {
    flex: 0 0 calc(24.33% - 1rem);
  }
}

/* end of featured  */

/* details */

.input-group {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-control {
  flex: 1 1 auto;
}

.form-control,
.btn-submit {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: var(--letterSpacing);
  background: transparent;
  text-transform: uppercase;
  outline: none;
  border: 2px solid var(--primaryColor);
}

::placeholder {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
}

.btn-submit {
  cursor: pointer;
  transition: var(--mainTransition);
  left: -20px;
}

.btn-submit:hover {
  color: var(--mainWhite);
  background: var(--primaryColor);
}

/* end of details */

.title-wrapper {
  padding: 0;
  margin: 0;
}

.section-details {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-input-area {
  margin: 0;
  padding: 0;
}

.contact-item {
  margin-bottom: 3rem;
}

.contact-title {
  color: var(--mainBlack);
  text-transform: uppercase;
  letter-spacing: var(--letterspacing);
  margin-bottom: 0.5rem;
}

.contact-text {
  text-transform: lowercase;
  color: var(--primaryColor);
}

.form-control {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: none;
  border-bottom: 2px solid var(--mainBlack);
  outline: none;
  margin: 2rem 0;
  padding: 1.3rem 0;
  font-weight: bold;
  text-transform: none;
}

@media screen and (min-width: 992px) {
  .contact-info,
  .contact-form {
    float: left;
    width: 30%;
    padding: 0 5rem;
  }
  .contact-info {
    padding-top: 7rem;
  }
}

.section-center {
  padding: 4rem 0;
  width: 80vw;
  max-width: 1170px;
  margin: 0 auto;
}

.clearfix {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 692px) {
  .clearfix {
    flex-direction: column;
  }
}

.main-button {
  border-radius: 10rem;
  width: 40%;
}

/* footer */

.footer {
  background: var(--primaryColor);
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top:2rem;
}

.social-icon {
  color: var(--mainwhite);
  font-size: 2rem;
  margin-right: 1rem;
  transition: var(--maintrasition);
}

.social-icon:hover {
  color: var(--mainWhite);
  transition: var(--mainTransition);
}

.footer-text {
  text-transform: uppercase;
  color: var(--mainwhite);
  letter-spacing: var(--letterspacing);
  margin-top: 1rem;
}

.logo {
  width: 8%;
  display: block;
  padding: 0;
  margin: 0;
  margin-left: 45%;
  position: absolute;
  opacity: 0.5;
}

.logo:hover {
  opacity: 1;
  transform: translateY(-40%);
  transition: var(--mainTransition);
}

.social-center {
  display: inline-block;
  width: 100%;
  position: relative;
}
.arrow {
  display: flex;
  justify-content: center;
}

/* end of footer */

/* Roaster page */

.roasterPage-img {
  min-height: calc(100vh - 62px);
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.roasterPage-text {
  width: 85%;
  letter-spacing: var(--letterSpacing);
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 50px;
  color: var(--mainWhite);
}

@media screen and (min-width: 768px) {
  .roasterPage-img {
    background: linear-gradient(rgba(84, 93, 219, 0.7), rgba(0, 0, 0, 0.7)),
      url("Roaster.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .roasterPage-text {
    margin-top: 100px;
    width: 100%;
    font-weight: 700;
    text-align: center;
    color: var(--mainWhite);
    padding: 0 2rem;
  }
}

.roasterPage-para {
  padding: 5% 7%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.btn-details {
  display: block;
  border: 2px none var(--offWhite);
  box-shadow: 10px 10px 20px var(--primaryColor);
}
.btn-details:hover {
  background-color: var(--primaryColor);
  color: var(--mainBlack);
  box-shadow: 0 0 20px var(--primaryColor);
}

.team-img {
  border-radius: 100%;
  margin: 1px;
}
.detail {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .hide {
    visibility: hidden;
  }
}
.matches {
  display: flex;
  justify-content: center;
}
.matches-details {
  background-color: var(--mainWhite);
  box-shadow: 0 2px 4px var(--mainWhite);
  padding: 23px 18px;
  border-radius: 2px;
  box-sizing: border-box;
  color: #2a2a2a;
  text-align: center;
  width: 390px;
  height: auto;
  display: block;
  margin: 2rem;
}
.vs {
  margin-left: 25px;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 1.13px;
  color: #2a2a2a;
}

/* Team scores  */

.team-details {
  border-bottom: 10px;
  border-color: rgb(12, 12, 12);
  padding: 2rem;
}

.Intro {
  color: var(--primaryColor);
  padding: 0 10%;
}

.team-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 24px 12px;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}

.roasterPage-para .Intro .sword {
  margin: 0 18px;
}

.result,
.team1,
.team2,
.time {
  margin: 0 18px;
  line-height: 2.4rem;
  letter-spacing: 1.13px;
  color: #2a2a2a;
}

.home {
  color: var(--primaryColor);
  text-align: right;
}

.away,
.home {
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
}

.players-list {
  margin-bottom: 48px;
  height: 175px;
  display: block;
  margin: 2rem;
  border-radius: 2px;
  background: linear-gradient(rgba(82, 91, 216, 0.7), rgba(43, 41, 41, 0.7)),
    url("team-list.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: var(--offWhite);
  box-shadow: 0 0 10px var(--mainBlack);
}

#Team {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title {
  padding: 5rem;
}

.Teams,
.matches-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content {
  margin-left: 50%;
  margin-top: 2%;
}
.pro-img {
  width: auto;
  position: absolute;
  margin: 20px 2px 0px;
  z-index: 3;
}
.details {
  display: block;
  margin-top: 2rem;
}
.details:hover {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  box-shadow: 0 0 20px var(--primaryColor);
}
